.sign-in {
    grid-row: content-s/content-e;
    grid-column: s/e;

    &__form {
        display: grid;
        grid-template-rows: [email-s email-e] 60px [password-s] 60px [password-e] minmax(20px, 200px) [line-s] 2px [line-e login-s] 100px [login-e];
        grid-column: 1fr;
    }
}

.sign-in-form {

    &__email {
        grid-row: email-s/email-e;
    }
    &__password {
        grid-row: password-s / password-e;
        margin-top: 15px;
    }
    &__line {
        grid-row: line-s/line-e;
        border-top: 2px solid $greenBlue;
    }
    &__login {
        grid-row: login-s/login-e;
        margin-bottom: 30px;
        padding-top: 30px;
    }
    .page-links {
        grid-row: 1/-1;
        justify-content: end;
        align-self: start;

        &__links {
            transition: 0.5s;
        
            :hover {
                color: $brightBlue;
                transform: scale(1,2);
                text-decoration-line: underline;
                cursor: pointer;
            }
        }
    }
}
