.form-input {
    display: grid;
    grid-gap: 10px;

    & > * {
        padding-left: 10px
    }

    &__label {
        font-size: 15px;

    }
    &__input {
        box-sizing: border-box;
        height: 40px;
        width: 400px;
        border: 2px solid $brightBlue;
        border-radius: 20px;
        transition: 0.5s;
        color: $greenBlue;
        font-size: 20px;

        &:focus {
            box-shadow: 10px 10px 10px rgba(35, 100, 170, 0.5);
            outline: none;
            scale: 10px;
        }
    }
}

.form-button {

    &__button{
        height: 40px;
        width: 150px;
        border-radius: 20px;
        background-color: $brightGreen;
        font-size: 18px;
        color: $greenBlue;
        transition: 0.2s;

        &:hover {
            transform: scale(1, 1.2);
        }
    }
    &__orange-button {
        background: $brightBlue;
        width: 150px;
    }
}