html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
@import './mixins.scss';

body {
    font-family: 'Concert One', cursive ;
    color: $greenBlue;
}

@import './layout.scss';
@import './navbar.scss';
@import './auth/signin.scss';
@import './auth//signup.scss';

@import './header.scss';
@import './form-fields.scss';