@import './mixins.scss';
html {
    font-size: 62.5%; 
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Concert One', cursive ;
    color: $greenBlue;
}

@import './layout.scss';
@import './navbar.scss';
@import './auth/signin.scss';
@import './auth//signup.scss';
@import './page-links.scss';
@import './header.scss';
@import './form-fields.scss';
@import './account/account.scss';
@import './account/service-history.scss';
@import './account/account-info.scss';
