.page-links {
    display: grid;
    grid-row-gap: 20px;
    align-items: start;


    &__title {
        padding-bottom: 10px;
        border-bottom: 1px solid $greenBlue;
        font-size: 25px;
        font-weight: 700;
    }
    &__links{
        font-size: 16px;
        display: grid;
        grid-row-gap: 10px;
        text-decoration-line: underline;
    }

}